/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/

#logo {
    max-width: 300px;
    display: block;
    margin: 0 auto 1rem 0;
  }

  #logo path {
    fill: #FF6C0C;
  }